@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
/* GLOBAL STYLES
-------------------------------------------------- */
/* line 5, ../sass/_main.scss */
body {
  color: #5a5a5a;
}

/* line 8, ../sass/_main.scss */
h2, h5 {
  display: none;
}

/* BARRA DEL MENU
-------------------------------------------------- */
/* line 15, ../sass/_main.scss */
#imgLogo {
  max-height: 100%;
}

/* line 18, ../sass/_main.scss */
#imgLogoGrandeCaja {
  text-align: center;
}

/* line 22, ../sass/_main.scss */
.imgLogoGrande {
  max-height: 150px;
  display: none;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 28, ../sass/_main.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
/* line 37, ../sass/_main.scss */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

/* line 41, ../sass/_main.scss */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 45, ../sass/_main.scss */
.navbar-wrapper .navbar .container {
  width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* line 54, ../sass/_main.scss */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
/* line 59, ../sass/_main.scss */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/* line 64, ../sass/_main.scss */
.carousel .item {
  height: 500px;
  background-color: #777;
}

/* line 68, ../sass/_main.scss */
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
/* line 81, ../sass/_main.scss */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

/* line 85, ../sass/_main.scss */
.marketing h2 {
  font-weight: normal;
}

/* line 88, ../sass/_main.scss */
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */
/* line 97, ../sass/_main.scss */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* line 102, ../sass/_main.scss */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  /* line 114, ../sass/_main.scss */
  .navbar-wrapper {
    margin-top: 20px;
  }

  /* line 117, ../sass/_main.scss */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 121, ../sass/_main.scss */
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  /* line 127, ../sass/_main.scss */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  /* line 132, ../sass/_main.scss */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  /* line 138, ../sass/_main.scss */
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  /* line 144, ../sass/_main.scss */
  .featurette-heading {
    margin-top: 120px;
  }
}
/* line 1, ../sass/fotter.scss */
footer {
  background: #151515;
  text-align: center;
  color: white;
}
/* line 2, ../sass/fotter.scss */
footer .row {
  margin: 0;
}
/* line 8, ../sass/fotter.scss */
footer ul {
  list-style: none;
}
/* line 12, ../sass/fotter.scss */
footer .datos ul {
  padding: 43px 0 43px 0;
}
/* line 16, ../sass/fotter.scss */
footer .secciones {
  padding: 14px 0 14px 0;
}
/* line 18, ../sass/fotter.scss */
footer .secciones ul {
  padding: 0;
}
/* line 22, ../sass/fotter.scss */
footer .redesfooter {
  font-size: 20px;
  padding: 50px 0 50px 0;
}
/* line 26, ../sass/fotter.scss */
footer .redesfooter li {
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  background: #151515;
  margin: 2px;
}
/* line 36, ../sass/fotter.scss */
footer .redesfooter li:hover {
  border: 2px solid #151515;
}
/* line 40, ../sass/fotter.scss */
footer .redesfooter li span {
  position: relative;
  top: 5px;
}

/* line 1, ../sass/nosotros.scss */
.img-nosotros {
  margin-bottom: 60px;
}

/* line 4, ../sass/nosotros.scss */
.iconosNosotros {
  text-align: center;
  padding: 160px 0;
}
/* line 7, ../sass/nosotros.scss */
.iconosNosotros span {
  font-size: 150px;
  color: dodgerblue;
}

/* line 1, ../sass/refrigeracionGeneral.scss */
.tituloSeccion {
  margin-top: 145px;
  text-align: center;
}

/* line 6, ../sass/refrigeracionGeneral.scss */
.iconosServicios {
  text-align: center;
  padding: 160px 0;
}
/* line 9, ../sass/refrigeracionGeneral.scss */
.iconosServicios span {
  font-size: 150px;
  color: dodgerblue;
}

/* line 1, ../sass/portfolio.scss */
.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

/* line 7, ../sass/portfolio.scss */
.thumbnail {
  padding: 0;
}

/* line 11, ../sass/portfolio.scss */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}

/* line 15, ../sass/portfolio.scss */
.tituloSeccion {
  margin-top: 145px;
  text-align: center;
}
